<% content_for :head do %>
  <%= meta_tags_for %>
  <%= organization_structured_data %>
<% end %>

<%= render PromoBannerComponent.new %>
<%= render HeaderComponent.new %>

<main class="bg-background-dark min-h-screen">
  <%= render HeroComponent.new %>
  
  <%= render ServiceCardsComponent.new(cards: @service_cards) %>
  
  <%= render FeaturedPackageComponent.new %>
  
  <%= render CaseStudiesComponent.new(studies: @case_studies) %>
  
  <%= render FooterCtaComponent.new %>
</main>
